<!DOCTYPE html>
<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Team 6 Capstone</title>
  </head>
  <body>
    <h1>Welcome to our Capstone</h1>
    <h2>Select a city!!</h2>
    <p>Welcome to the Capstone project for Team 6 This will display the weather and top locations to eat in the area! </p>

    <label for="city">Select a City to view weather, top restaurents and xyz:</label>
<!-- <form action= "/" method="POST">
<select name="city" method = 'get' id="city">
  <option value="Miami">Miami</option>
  <option value="LA">LA</option>
  <option value="New York City">New York City</option>
  <input type="submit" value="Submit" >
</select>
</form> -->
<form action="/" method="post">
   <div align="center" id="mainselection">
     <select name="city" method="GET" action="/">
       <option selected="selected"></option>
       {% for city in city[0:] %}
       <option value="{{city}}">{{city}}</option>
       {% endfor %}
     </select>
   </div>
   <button class="button execute" name="submit" value="submit">Submit</button>
 </form>

{% block content %}

{% endblock %}

  </body>
</html>
