<!DOCTYPE html>
<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<title>Los Angeles</title>
</head>


<body>

	{%block content%}

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Easy Travel</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('home')}}">Home</a>
			</li>
			<li class="nav-item">
			        <a class="nav-link" href="{{url_for('miami')}}">Miami</a>
			</li>
			<li class="nav-item">
			        <a class="nav-link" href="{{url_for('newyork')}}">New York</a>
			</li>
			<li class="nav-item">
			        <a class="nav-link" href="{{url_for('losangeles')}}">Los Angeles</a>
			</li>
			</ul>
		</div>
	</nav>
	<div class="container center div">
		<h1>Your Vacation to LA Starts Here!</h1>
		<div class="p-3 mb-2 bg-secondary text-white">
			<p>
				Like many other major cities in the US, Los Angeles is also ethically diverse in the arts, cuisine, and cinema. The most 
				notable one being cinema due to the presence of Hollywood. Hollywood is of course known as the home of the US film industry 
				and many people visit Hollywood to see landmarks such as the Walk of Fame and the Chinese Theatre. Outside of cinema, 
				Los Angeles has diversity in the arts due to the vast amount of architecture, visual arts, public arts, and art museums. 
				There is definitely a lot of stuff to visit and do in Los Angeles, so feel free to pick and choose what to do when you visit there!
			</p>
		</div>
	</div>

<style type="text/css">
.table {
	margin: 0 auto;
	width: 80%;
}
</style>

<div class="container center div">
	<div class="accordion accordion-flush" id="accordionFlushExample" style="background-color:grey">
		<div class="accordion-item border border-light">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" style="background-color:grey" aria-expanded="false" aria-controls="flush-collapseOne">
					Local Weather
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				 <div class="accordion-body">
					 <strong>Los Angeles Weather</strong>
					 <p>
					 	Los Angeles is known for having extremely humid and dry weather forecasts throughout the summer and cool 
						and cloudy forecasts throughout the winter. In Los Angeles, the rainy season happens during winter, so if 
						you are looking to head there without worrying about any sort of precipitation, it is better to travel there after winter.
					 </p>

	
	<div class="column">
		<table class="table table-dark table-striped table-bordered">
			<thead>
			<tr>
				<th>Day     </th>
			        	<th>Temperature</th>
					<th>Max Temperature</th>
				  	<th>Min Temperature</th>
					<th>Feels Like</th>
					<th>Humidity</th>
					<th>Sky</th>
					<th>Wind</th>
			</tr>
			</thead>
			<tbody>
				{% for row in value %}
					<tr>
						<td>Friday, April 29 </td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
						<td>{{row[4]}}</td>
						<td>{{row[5]}}</td>
						<td>{{row[6]}}</td>
						<td>{{row[7]}}</td>
					</tr>
					<br></br>
					<tr>
						<td>Saturday, May 1</td>
						<td>{{row[8]}}</td>
						<td>{{row[9]}}</td>
						<td>{{row[10]}}</td>
						<td>{{row[11]}}</td>
						<td>{{row[12]}}</td>
						<td>{{row[13]}}</td>
						<td>{{row[14]}}</td>
					</tr>
					<br></br>
					<tr>
						<td>Sunday, May 2</td>
						<td>{{row[15]}}</td>
						<td>{{row[16]}}</td>																						                                                <td>{{row[17]}}</td>
						<td>{{row[18]}}</td>
						<td>{{row[19]}}</td>
						<td>{{row[20]}}</td>
						<td>{{row[21]}}</td>
					</tr>
					<br></br>
					<tr>
						<td>Monday, May 3</td>
						<td>{{row[22]}}</td>
						<td>{{row[23]}}</td>
						<td>{{row[24]}}</td>
						<td>{{row[25]}}</td>
						<td>{{row[26]}}</td>
						<td>{{row[27]}}</td>
						<td>{{row[28]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table></div>
	</div>
	<br></br>
	<strong>Average Los Angeles Temperatures</strong>
	<br></br>
	<div class="column">
		<table class="table table-dark table-striped table-bordered">
			<thead>
			<tr>
				<th>Avg Temp</th>
				<th>Avg Max</th>
				<th>Avg Min</th>
				<th>Avg Wind Speed</th>
			</tr>
			</thead>
			<tbody>
				{% for row in value3 %}
					<tr>
						<td>{{row[6]}}</td>
						<td>{{row[7]}}</td>
						<td>{{row[8]}}</td>
						<td>{{row[5]}}</td>
					</tr>
				{% endfor %}
			</tbody>

		</table></div>

				 
			</div>
		</div>
<div class="accordion-item border border-light">
	<h2 class="accordion-header" id="flush-headingTwo">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:grey" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
			Local Eats
		</button>
	</h2>
	<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
		<div class="accordion-body">
			<strong>Top Eats In LA</strong>
			<p>
				In Los Angeles, there are many choices in what to eat all throughout the city. Ranging from sushi to tacos, all the way to a classic burger, 
				there are a plethora of different options to choose from in L.A. This just goes to show how diverse the cuisine L.A. has to offer. 
				From being able to grab tacos from a street restaurant to experiencing fine dining in a world-class restaurant, this shows that people will never run 
				out of new and different restaurants to dine in. 
			</p>
	<div class="column">
		<table class="table table-dark table-striped table-bordered">
			<thead>Resturants
			<tr>
				<th>Restaurant</th>
				<th>Address</th>
			</tr>
			</thead>
			<tbody>
				{% for row in value1 %}
					<tr>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
		</div>
	</div>
	<div class="accordion-item border border-light">
		 <h2 class="accordion-header" id="flush-headingThree">
			  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:grey"  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
				  Stay
			  </button>
		 </h2>
		 <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			 <div class="accordion-body">
				 <strong>Los Angeles Stays:</strong> 
			<div class="column">
				<table class="table table-dark table-striped table-bordered">
					<thead>
						<tr>
							<th>Hotel Name</th>
							<th>Rating</th>
							<th>Number</th>
						</tr>
					</thead>
					<tbody>
						{% for row in value2 %}
							<tr>
								<td>{{row[0]}}</td>
								<td>{{row[1]}}</td>
								<td>{{row[2]}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			 </div>
		 </div>
	</div>
	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>

<style>
	body{
		background-color: #212121;
		color: white;
	}
</style>
{% endblock content %}
</html>
